In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv(r'C:\Users\sansk\OneDrive\Desktop\python\ca.csv')
print(df)

       RecordID      Country Gender Demographics Question  \
0             1  Afghanistan      F        Marital status
1             1  Afghanistan      F             Education
2             1  Afghanistan      F             Education
3             1  Afghanistan      F             Education
4             1  Afghanistan      F        Marital status
...         ...          ...    ...                   ...
12595       210     Zimbabwe      M             Residence
12596       280     Zimbabwe      M             Residence
12597       280     Zimbabwe      M             Residence
12598       350     Zimbabwe      M             Residence
12599       350     Zimbabwe      M             Residence

              Demographics Response                                 Question  \
0                     Never married                ... if she burns the food
1                            Higher                ... if she burns the food
2                         Secondary                ... if she burns the food
3                           Primary                ... if she burns the food
4      Widowed, divorced, separated                ... if she burns the food
...                             ...                                      ...
12595                         Urban  ... if she goes out without telling him
12596                         Rural         ... if she neglects the children
12597                         Urban         ... if she neglects the children
12598                         Rural  ... if she refuses to have sex with him
12599                         Urban  ... if she refuses to have sex with him

      Survey Year  Value
0      01/01/2015    NaN
1      01/01/2015   10.1
2      01/01/2015   13.7
3      01/01/2015   13.8
4      01/01/2015   13.8
...           ...    ...
12595  01/01/2015   11.8
12596  01/01/2015   20.1
12597  01/01/2015   15.0
12598  01/01/2015    7.2
12599  01/01/2015    3.7

[12600 rows x 8 columns]

In [ ]:
df.head()

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
0,1,Afghanistan,F,Marital status,Never married,... if she burns the food,01/01/2015,NaN
1,1,Afghanistan,F,Education,Higher,... if she burns the food,01/01/2015,10.1
2,1,Afghanistan,F,Education,Secondary,... if she burns the food,01/01/2015,13.7
3,1,Afghanistan,F,Education,Primary,... if she burns the food,01/01/2015,13.8
4,1,Afghanistan,F,Marital status,"Widowed, divorced, separated",... if she burns the food,01/01/2015,13.8

In [ ]:
df.tail()

,RecordID,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year,Value
12595,210,Zimbabwe,M,Residence,Urban,... if she goes out without telling him,01/01/2015,11.8
12596,280,Zimbabwe,M,Residence,Rural,... if she neglects the children,01/01/2015,20.1
12597,280,Zimbabwe,M,Residence,Urban,... if she neglects the children,01/01/2015,15.0
12598,350,Zimbabwe,M,Residence,Rural,... if she refuses to have sex with him,01/01/2015,7.2
12599,350,Zimbabwe,M,Residence,Urban,... if she refuses to have sex with him,01/01/2015,3.7

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 787.6+ KB

In [ ]:
df.shape

(12600, 8)

In [ ]:
df.describe

<bound method NDFrame.describe of        RecordID      Country Gender Demographics Question  \
0             1  Afghanistan      F        Marital status
1             1  Afghanistan      F             Education
2             1  Afghanistan      F             Education
3             1  Afghanistan      F             Education
4             1  Afghanistan      F        Marital status
...         ...          ...    ...                   ...
12595       210     Zimbabwe      M             Residence
12596       280     Zimbabwe      M             Residence
12597       280     Zimbabwe      M             Residence
12598       350     Zimbabwe      M             Residence
12599       350     Zimbabwe      M             Residence

              Demographics Response                                 Question  \
0                     Never married                ... if she burns the food
1                            Higher                ... if she burns the food
2                         Secondary                ... if she burns the food
3                           Primary                ... if she burns the food
4      Widowed, divorced, separated                ... if she burns the food
...                             ...                                      ...
12595                         Urban  ... if she goes out without telling him
12596                         Rural         ... if she neglects the children
12597                         Urban         ... if she neglects the children
12598                         Rural  ... if she refuses to have sex with him
12599                         Urban  ... if she refuses to have sex with him

      Survey Year  Value
0      01/01/2015    NaN
1      01/01/2015   10.1
2      01/01/2015   13.7
3      01/01/2015   13.8
4      01/01/2015   13.8
...           ...    ...
12595  01/01/2015   11.8
12596  01/01/2015   20.1
12597  01/01/2015   15.0
12598  01/01/2015    7.2
12599  01/01/2015    3.7

[12600 rows x 8 columns]>

In [ ]:
df.info

<bound method DataFrame.info of        RecordID      Country Gender Demographics Question  \
0             1  Afghanistan      F        Marital status
1             1  Afghanistan      F             Education
2             1  Afghanistan      F             Education
3             1  Afghanistan      F             Education
4             1  Afghanistan      F        Marital status
...         ...          ...    ...                   ...
12595       210     Zimbabwe      M             Residence
12596       280     Zimbabwe      M             Residence
12597       280     Zimbabwe      M             Residence
12598       350     Zimbabwe      M             Residence
12599       350     Zimbabwe      M             Residence

              Demographics Response                                 Question  \
0                     Never married                ... if she burns the food
1                            Higher                ... if she burns the food
2                         Secondary                ... if she burns the food
3                           Primary                ... if she burns the food
4      Widowed, divorced, separated                ... if she burns the food
...                             ...                                      ...
12595                         Urban  ... if she goes out without telling him
12596                         Rural         ... if she neglects the children
12597                         Urban         ... if she neglects the children
12598                         Rural  ... if she refuses to have sex with him
12599                         Urban  ... if she refuses to have sex with him

      Survey Year  Value
0      01/01/2015    NaN
1      01/01/2015   10.1
2      01/01/2015   13.7
3      01/01/2015   13.8
4      01/01/2015   13.8
...           ...    ...
12595  01/01/2015   11.8
12596  01/01/2015   20.1
12597  01/01/2015   15.0
12598  01/01/2015    7.2
12599  01/01/2015    3.7

[12600 rows x 8 columns]>

In [ ]:
df.isnull().sum()

RecordID                    0
Country                     0
Gender                      0
Demographics Question       0
Demographics Response       0
Question                    0
Survey Year                 0
Value                    1413
dtype: int64